<div class="jumbotron">
  <div class="container">
    <h1>Better Half Of Me!</h1>
    <p>When all I want is for you to see. The side that I don't show to anyone. In fear that they may turn and run. Alone and incomplete. No more tears to cry. No more blood to bleed.</p>
    <p><a href="https://play.spotify.com/track/3ViaHyJGpKtGTfCT73M6Kq" target="_blank" class="btn btn-default btn-lg" role="button">Listen Now »</a></p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Hold On To Me</h2>
      <p>I see the faces, people and places<br>
        Burn up the night, and fade to grey<br>
        Walking on water, dancing on wire,<br>
        Hang on the edge and don't look down</p>
      <p><iframe src="https://embed.spotify.com/?uri=spotify:track:4xGpDa6RWmvOPUTYdE59YJ" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
    </div>
    <div class="col-md-4">
      <h2>Under Control</h2>
      <p>I might be anyone<br>
        A lone fool out in the sun<br>
        Your heartbeat of solid gold<br>
        I love you, you'll never know</p>
      <p><iframe src="https://embed.spotify.com/?uri=spotify:track:352zfYbDFG8sxkmOAhVeuj" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
    </div>
    <div class="col-md-4">
      <h2>Wake Me Up</h2>
      <p>Feeling my way through the darkness<br>
        Guided by a beating heart<br>
        I can't tell where the journey will end<br>
        But I know where to start</p>
      <p><iframe src="https://embed.spotify.com/?uri=spotify:track:4QRZirU4s1f30iDHzuKncj" width="300" height="80" frameborder="0" allowtransparency="true"></iframe></p>
    </div>
  </div>
</div>