<!doctype html>
<html ng-app>
  <head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular.min.js"></script>
  </head>
  <body>
  <div ng-init="friends = [
  'john', 'bob'
  ]">
    I have {{friends.length}} friends. They are:
    <input type="search" ng-model="q" placeholder="filter friends..." />
    <ul class="example-animate-container">
      <li class="animate-repeat" ng-repeat="friend in friends | filter:q">
        [{{$index + 1}}] {{friend}} who is {{friend.age}} years old.
      </li>
    </ul>
  </div>

  </body>
</html>